<div class="card mb-4" id="dashboard">
                    <div class="card-body">
                        <h2 class="card-title">Dashboard Principal</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Resumen General</div>
                                    <div class="card-body">
                                        <p>Total de Usuarios: <span id="rutasActivas"><%=users.length%></span></p>
                                        <p>Total de Pagos: <span id="vehiculosOperacion">25</span></p>
                                        <p>Total de Facturas:<span id="usuariosTotal">1000</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Apartamentos</div>
                                    <div class="card-body">
                                        <p>Disponibles: <span id="puntualidad">95</span></p>
                                        <p>Ocupados: <span id="ocupacionVehiculos">80</span></p>
                                        <p>Totales: <span id="distanciaRecorrida"><%=data.length%></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3">
                                    <div class="card-header">Notificaciones</div>
                                    <div class="card-body">
                                        <p>Reportes: <span id="incidentes">2</span></p>
                                        <p>deudasActual: <span id="retrasos">5</span></p>
                                        <p>Deuda pendiente: <span id="mantenimiento">3</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>