	<%- include ('./template/header.ejs')%>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/ejecutivo_II.css">
	<link rel="stylesheet" href="./Css/liBox.css">
	<title>Document</title>
</head>
<body>
	<%- include ('./template/options.ejs')%>
	<section>
		<div class="imgBox">
			<img src="./Png/Familia.png" alt="">
		</div>
		<div class="banner">
			<div class="detalles">
				<h1>EJECUTIVO II</h1>
				<p>Tu hogar, tu estilo,</p>
				<p> en el corazon de la ciudad.! </p>
				<div class="button">
					<button>GRUP. EDIF.</button>
					<button>Administrador</button>
				</div>
			</div>
		<div class="puntos">
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
			<span>.  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .</span>
		</div>
		</div>
	</section>
	<script src="/Js/menu.js"></script>
</body>
</html>