<%- include ('./template/header.ejs')%>
	<title>Login</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/Login.css">
	<script src="/Js/alertConfig.js"></script>
</head>
<body>
	<section class="Login">
		<img src="./Png/edificionWhite.png" alt="">
		<form id="login">
			<h1>BIENVENIDO</h1>

			<div class="inpuBox">
				<input id='email' type="text" placeholder="Ingresa Email">
			</div>

			<div class="inpuBox">
				<input id='password' type="password" placeholder="Ingresa Contraseña">
			</div>

			<div class="inpuBox">
				<input type="submit" value="INGRESAR">
			</div>
		</form>
		<span><p>TU HOGAR TU ESTILO,</p> <p>EN CORAZON DE LA CIUDAD</p> </span>
		<div class="inputRegister">
			<p>No Tienes Cienta? Pidela <a href="/bienvenidos">AQUI</a></p>
			<p><a href="/recovery">Restablecer password</a></p>
			
		</div>
	</section>
	<section class="imgBox">
		<img class="jovencitos" src="./Png/jocencitos.png" alt="">
	</section>
	<script src='/Js/login.js'></script>
</body>
</html>