	<%- include ('./template/header.ejs')%>
	<title>Login</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/Login.css">
</head>
<body>
	
	<%- include ('./template/fondoImg.ejs')%>
	<section class="Login">
		<img src="./Png/edificionWhite.png" alt="">
		<form action="">
			<h1>BIENBENIDO</h1>
			<div class="inpuBox">
				<input type="text" placeholder="INGRESAR Usuario">
			</div>
			<div class="inpuBox">
				<input type="password" placeholder="INGRESAR Contraseña">
			</div>
			<div class="inpuBox">
				<input type="submit" value="INGRESAR">
			</div>
		</form>
		<span><p>TU HOGAR TU ESTILO,</p> <p>EN CORAZON DE LA CIUDAD</p> </span>
		<div class="inputRegister">
			<p>No Tienes Cienta? Pidela <a href="/bienvenidos">AQUI</a></p>
			
		</div>
	</section>
	<section class="imgBox">
		<img class="jovencitos" src="./Png/jocencitos.png" alt="">
	</section>
</body>
</html>