 <nav class="col-md-2 bg-secondary text-white p-3">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboar"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/usuarios"><i class="fas fa-chart-bar"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/apartamentos"><i class="fas fa-chart-bar"></i>Apartamentos</a>
                </li>
    
                <li>
                     <a class="nav-link text-white" href="/adminPagos"><i class="fas fa-chart-bar"></i>Pagos</a>
                    
                </li>
                 <li>
                     <a class="nav-link text-white" href="/reportes"><i class="fas fa-chart-bar"></i>Reportes</a>
                </li>
                <li>
                     <a class="nav-link text-white" href="/facturas"><i class="fas fa-chart-bar"></i>facturas</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                </li>

            </ul>
        </nav>