 <nav class="col-md-2 bg-secondary text-white p-3">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/bienvenidos"><i class="fas fa-route"></i>Bienvenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/gestionPagos"><i class="fas fa-bus"></i>Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/sugerencias"><i class="fas fa-user-tie"></i>Sugerencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/viewAdmin"><i class="fas fa-users"></i>Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/usuarios"><i class="fas fa-chart-bar"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/configuracion"><i class="fas fa-cogs"></i> Opciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </nav>