	<%- include ('./template/header.ejs')%>
	<title>Login</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/Login.css">
	<script src="/Js/alertConfig.js"></script>
	<style>
		.styles{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap:1rem;
		}.styles input,.styles h1,.styles h3,.styles div{
			width:100%;
			text-align: center;
		}.styles input{
			padding:1rem 2rem;
		}
	</style>
</head>
<body>
	
	<section class="Login">
		<img src="./Png/edificionWhite.png" alt="">

		<form id="recovery">
			<h1>Restablecer Contraseña</h1>
			<h3 class="insertar">Se te enviara un correo electronico con un enlace para restablecer tu contraseña</h3>

			<div class="inpuBox emailInput">
				<input id='email' type="text" placeholder="Ingresa Email">
			</div>

			<div class="inpuBox">
				<input type="submit" value="Enviar">
			</div>
		</form>
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------->	
<div class="inputRegister">
	<p><a href="/">Login</a></p>

</div>
</section>
<section class="imgBox"c>
	<img class="jovencitos" src="./Png/jocencitos.png" alt="">
</section>
<script>
	
	const recovery = document.getElementById('recovery');
	recovery.addEventListener('submit',e=>{
		e.preventDefault();
		const email = document.getElementById('email').value;
		fetch('/recoveryPost',{
			method:"POST",
			headers:{
				"Content-Type":"application/json"
			},
			body:JSON.stringify({email})
		})
		.then(res=>res.json())
		.then(res=>{
			if(res.status){
				Swal.fire('¡Se ha enviado un correo electronico con el enlace para restablecer tu contraseña!');
				setTimeout(()=>{
					window.location.href='/';
				},2000)
			}else if(!res.status){
				Swal.fire('No tienes una cuenta asociada , registrate');
			}else{
				Swal.fire('Error en el servidor');
			}
		});
	});
</script>
</body>
</html>