	<%- include ('./template/header.ejs')%>
	<title>Ejecutivo II Admin</title>
	<link rel="stylesheet" href="./Css/body.css">
	<link rel="stylesheet" href="./Css/bienvenidos.css">
    <link rel="stylesheet" href="./Css/liBox.css">
</head>
<body>		
		<div class="imgBox">
			<img src="./Png/edificionWhite.png" alt="">
		</div>

		<h1 class="bienvenidosH1">EJECUTIVO II</h1>

	<%- include ('./template/optionsAdmin.ejs')%>
	
	<div class="banerOption">
	
		<div class="optionBox">
			<div class="imgBoxOption">
				<img src="https://w7.pngwing.com/pngs/1018/886/png-transparent-payroll-safa-management-payment-computer-icons-business-white-text-service.png" alt="">
			</div>

			<div class="descriptioBox">
				<p>Gestion de Finanzas</p>
				<span class="descriptio">
					<p>Registro y gestion de los pagos a proveedores y servicios del condominio</p>
				</span>
			</div>

			<div class="submitButtom">
				<a>Ir</a>
			</div>

		</div>

		<div class="optionBox">
			<div class="imgBoxOption">
				<img src="https://png.pngtree.com/png-vector/20190719/ourmid/pngtree-invoice-line-icon-payment-money-dollar-bill-symbol-budget-png-image_1550323.jpg" alt="">
			</div>

			<div class="descriptioBox">
				<p>Gestion de Pagos</p>
				<span class="descriptio">
					<p>-Lista completa de pagos recibidos por cada apratamento.</p>
					<p>-Opcion para verificar comprobantes anexados por los residentes.</p>
				</span>
			</div>

			<div class="submitButtom">
				<a>Ir</a>
			</div>

		</div>

		<div class="optionBox">
			<div class="imgBoxOption">
				<img src="https://w7.pngwing.com/pngs/282/806/png-transparent-building-computer-icons-building-office-building-angle-building-text-thumbnail.png" alt="">
			</div>

			<div class="descriptioBox">
				<p>Configuracion de Sistema</p>
				<span class="descriptio">
					<p>-Configuracion del condominio</p>
					<p>-Gestion de usuarios.</p>
				</span>
			</div>

			<div class="submitButtom">
				<a>Ir</a>
			</div>

		</div>

		<div class="optionBox">
			<div class="imgBoxOption">
				<img src="https://w7.pngwing.com/pngs/234/144/png-transparent-letter-box-email-email-miscellaneous-angle-white.png" alt="">
			</div>

			<div class="descriptioBox">
				<p>Sugerencias</p>
				<span class="descriptio">
					<p>Listado completo de las quejas/sugerencias recibidas </p>
					<p>Estatus de las Sugerencias</p>
				</span>
			</div>

			<div class="submitButtom">
				<a>Ir</a>
			</div>

		</div>

		<div class="optionBox">
			<div class="imgBoxOption">
				<img src="https://i.pinimg.com/736x/01/16/12/0116128680b0de1ed64aa1ae93804aa9.jpg" alt="">
			</div>

			<div class="descriptioBox">
				<p>Soporte Tecnico</p>
				<span class="descriptio">
					<p>Manueles sobre el uso del Sistema</p>
				</span>
			</div>

			<div class="submitButtom">
				<a>Ir</a>
			</div>

		</div>

	</div>
	<script src="/Js/menu.js"></script>
</body>
</html>