/* Estilos generales */

/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
 
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo del título */
h1 {
    color: #007BFF; /* Color azul */
    text-align: center; /* Centrar texto */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo del formulario */
.formulario {
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
    width:100%;
}

/* Estilo de los inputs */
.inputD {
    margin-bottom: 15px; /* Espacio inferior */
}

.inputD label {
    display: block; /* Mostrar como bloque */
    margin-bottom: 5px; /* Espacio inferior */
    color: #007BFF; /* Color azul */
}

.inputD input,
.inputD select {
    width: 100%; /* Ancho completo */
    padding:.7rem 0;
    border: 1px solid #007BFF; /* Borde azul */
    border-radius: 5px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave para el borde */
}

.inputD input:focus,
.inputD select:focus {
    border-color: #0056b3; /* Color azul más oscuro al enfocar */
    outline: none; /* Sin contorno */
}

/* Estilo del botón */
button {
    background-color: #007BFF; /* Color azul */
    color: white; /* Color blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

button:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .container {
        padding: 15px; /* Menos padding en pantallas pequeñas */
    }

    button {
        padding: 8px; /* Menos padding en el botón */
    }
}