<div class="liBox">
	<a href="/bienvenidos">Gestion F.</a>
	<a href="/gestionPagos">Pagos</a>
	<a href="/bienvenidos">Sistema</a>
	<a href="/sugerencias">Sugerencias</a>
	<a href="/viewAdmin">Soporte Tecnico</a>
</div>